.team {
  background-color: $primary-grey-color;
}

.team__title {
  margin-top: 0;

  font-weight: 700;
  font-size: 28px;
  line-height: 1.22;
  text-align: center;

  color: $title-text-color;

  @media screen and (min-width: 1200px) {
    font-size: 36px;
    margin-bottom: 50px;
  }
}

.team__card-list {
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    display: flex;
    flex-wrap: wrap;
  }

  @media screen and (min-width: 1200px) {
    display: flex;
  }
}

.team__card {
  padding-bottom: 24px;
  margin-bottom: 30px;
  background-color: $primary-white-color;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 0 0 4px 4px;

  @media screen and (max-width: 767px) {
    &:last-child {
      margin-bottom: 0px;
    }
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    margin-right: 30px;

    &:nth-child(2n) {
      margin-right: 0px;
    }

    &:nth-last-child(-n + 2) {
      margin-bottom: 0;
    }
  }

  @media screen and (min-width: 1200px) {
    padding-bottom: 30px;
    margin-bottom: 0;
    &:not(:last-child) {
      margin-right: 30px;
    }
  }
}

.team__card-photo {
  @media screen and (min-width: 1200px) {
    width: 270px;
    height: 260px;
  }

  &.team-1 {
    @media screen and (min-width: 768px) and (max-width: 1199px) {
      content: url(../images/team-1-tablet.jpg);
    }

    @media screen and (min-width: 1200px) {
      content: url(../images/team-1-desktop.jpg);
    }
  }

  &.team-2 {
    @media screen and (min-width: 768px) and (max-width: 1199px) {
      content: url(../images/team-2-tablet.jpg);
    }
    @media screen and (min-width: 1200px) {
      content: url(../images/team-2-desktop.jpg);
    }
  }

  &.team-3 {
    @media screen and (min-width: 768px) and (max-width: 1199px) {
      content: url(../images/team-3-tablet.jpg);
    }
    @media screen and (min-width: 1200px) {
      content: url(../images/team-3-desktop.jpg);
    }
  }

  &.team-4 {
    @media screen and (min-width: 768px) and (max-width: 1199px) {
      content: url(../images/team-4-tablet.jpg);
    }
    @media screen and (min-width: 1200px) {
      content: url(../images/team-4-desktop.jpg);
    }
  }
}

.team__card-title {
  margin-top: 30px;
  margin-bottom: 10px;

  text-align: center;

  color: $title-text-color;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
}

.team__card-text {
  margin-top: 0;
  margin-bottom: 16px;

  text-align: center;

  font-size: 16px;
}

.team__card-social-links {
  display: flex;
  align-items: center;
  justify-content: center;
}

.team__social-link-item + .team__social-link-item {
  margin-left: 10px;
}

.team__social-link {
  display: block;
  padding: 12px;
  height: 44px;
  width: 44px;
  border-radius: 50%;
  color: $icon-primary-color;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: $accent-color;
    color: $primary-white-color;
  }
}

.team__social-link-icon,
.team__social-link-icon:hover {
  fill: currentColor;
}
