$primary-text-color:#757575;
$title-text-color: #212121;
$accent-color: #2196F3;
$primary-white-color: #ffffff;
$primary-grey-color: #F5F4FA;
$secondary-black-color: #2F303A;
$icon-primary-color: #AFB1B8;
