html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

// BODY

body {
  margin: 0;

  color: $primary-text-color;
  font-family: Roboto, sans-serif;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.link {
  text-decoration: none;
}

// .section {
//   padding-top: 94px;
//   padding-bottom: 94px;
// }

// .container {
//   width: 480px;
//   margin-left: auto;
//   margin-right: auto;
//   padding-left: 15px;
//   padding-right: 15px;
// }

// .section-title {
//   color: $title-text-color;

//   font-weight: 700;
//   font-size: 36px;
//   line-height: 1.17;
//   text-align: center;
// }

// .button {
//   display: inline-block;
//   border: 1px solid transparent;
//   text-align: center;
//   min-width: 136px;

//   color: $primary-text-color;
//   background-color: $title-text-color;

//   font-weight: 700;
//   font-size: 16px;
//   line-height: 1.88;
//   align-items: center;
//   text-align: center;
//   letter-spacing: 0.06em;
//   text-decoration: none;
//   cursor: pointer;
// }

// .button.primary {
//   border-radius: 4px;
//   padding: 10px 32px;
//   min-width: 200px;

//   color: $primary-white-color;
//   background-color: $accent-color;
// }

// .button.secondary {
//   border-radius: 4px;
//   padding: 10px 32px;
//   min-width: 200px;
//   color: $accent-color;
//   background-color: $primary-white-color;
// }

// .is-hidden {
//   visibility: hidden;
//   opacity: 0;
//   pointer-events: none;
// }
